* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container-header {
    background-size: cover;
    background-position: center;
  }
  
  .container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .slogan {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    margin: 0;
  }
  
  .claim {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    font-weight: bold;
    color: gray;
    margin: 0;
  }
  