.navbar {
  background-color:#35578F;
  height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    padding: 0 50px;
    max-width: 1300px;
    background-color:#35578F;
  }
  
  .navbar-logo {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    text-decoration: none;
    color: #181A38;
    display: flex;
    align-items: center;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  
  .search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    width: 200px;
    margin-right: 5px;
  }
  
  .search-button {
    padding: 10px;
    background-color:#35578F;
    color: #181A38;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .navbar-icons {
    display: flex;
    align-items: center;
  }
  
  .navbar-icon {
    margin-left: 30px;
    font-size: 1.5rem;
    color: #181A38;
    text-decoration: none;
   
  }  